.App {
  color: #465D4C;
  text-align: center;
}


.title{
  position: fixed; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}

h1{
  margin: 0;
}

a{
  background-color: #86A697;
  color: white;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
  margin-top: 20px;
}

a:hover{
  background-color: #89916B;
  padding: 7px;
}